<a href="https://colab.research.google.com/github/margaridagomes/dataeng-basic-course/blob/main/spark/examples/03-sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/lucprosa/dataeng-basic-course/blob/main/spark/examples/03-sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL
- TempView
- GlobalTempView
- SQL
- Catalog (saveAsTable)

# Setting up PySpark

In [ ]:
%pip install pyspark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [2]:
lst = [("c1", "v1"), ("c2", "v2"), ("c3", "v3")]
rdd = sc.parallelize(lst)
df = rdd.toDF(["col", "value"])

In [3]:
# TempVIews - Session level
df.createOrReplaceTempView("my_table")
spark.sql("select * from my_table").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
| c3|   v3|
+---+-----+

In [4]:
# GlobalTempViews - Spark application level - global_temp database
df.createOrReplaceGlobalTempView("my_table2")
spark.sql("select * from globaL_temp.my_table2").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
| c3|   v3|
+---+-----+

In [5]:
# interating with catalog
spark.sql("create schema test")
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|     test|
+---------+

In [6]:
df = spark.createDataFrame([("c1", "v1"), ("c2", "v2")], schema=["col", "value"])
df.write.saveAsTable("test.my_table")

In [7]:
# listing tables from test
spark.sql("show tables from test").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|     test| my_table|      false|
|         | my_table|       true|
+---------+---------+-----------+

In [10]:
spark.table("test.my_table")

DataFrame[col: string, value: string]

In [8]:
spark.sql("select * from test.my_table").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
+---+-----+

In [12]:
df = spark.table("test.my_table")

import pyspark.sql.functions as F

df.withColumn("C1",F.lit("ff")).show()

+---+-----+---+
|col|value| C1|
+---+-----+---+
| c1|   v1| ff|
| c2|   v2| ff|
+---+-----+---+